body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background: url("./img/fondoinicio.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: white;
    padding: 35px;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}
.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}
.login-container input:focus {
    outline: none;
    border-color: #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.4);
}
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #f563a7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.login-container button:hover {
    background-color: #4c5fd5;
}
.login-container p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.login-container a {
    color: #667eea;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}